
@media (min-width: 426px) {
    .mhero2{
        display: none;
    }
}
.hero2text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px ;
        gap: 10px;

}
.h2b{
    height: 30px;
    width: 90px;
text-align: center;
border: 1px solid;
border-radius: 5px;
cursor: pointer;

}


.hero2hallery{

    display: flex;
    height: 350px;
    width: 100%;
    justify-content: center;
}
.hero2image1{
    
    height: 350;
    width: 100%;}



.hero2textg{
    background-color: black;
    color: white;
   display: flex;
   flex-direction: column;
    height: 350px;
    width: 33%;;
    text-align: center;
}

.hero2image2{

    height: 350px;
    width: 100%;}
    .hero2textgh3{
        color: #C8A35F;
    }

    .hero2textgh3{
        color: #c8ceed;
    }


    .hero2hallerya{
        background-color: #C8A35F;
        width: 200px;
        text-align: center;
       margin-left: 120px;
padding-top: 10px; 
padding-bottom: 10px;
border-radius: 10px;

}

.contentbottonnav{
    background-color: #bbf7d0;
    height: 15px;
    width: 100%;
}

.contentbottonnav2{

    background-color: #f6f0e6;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #5B1A1A;
    text-decoration: none;
}

.contentbottonnav2a{
        color: #5B1A1A;

}
.mcontentbottonnav2a{
    color:  #5B1A1A ;
}


.section2-main{

    display: flex;
    background-color: #faf5e8;
    width: 100%;
    height: 50vh;

}

.section2-container{
    display: flex;
    
    margin-right: 20px;
    align-items: center;
    
    
      

    
}

.section2-container1{

    display: flex;
    height: 290px;
    width: 50%;

    
}

.section2-container2{
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    height: 290px;
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 100px;
}





.hero-3{

 
    
    background-color: #2c1810;
    height: 50vh;
    width: 100%;
}

.hero-3text{
 
    text-align: center;
   color: #9a7a2e;
 width: 100%;
}

.hero-3cardmain{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    gap: 10px;
    width: 100%;
    margin-left: 30px;

   
}

.hero-3card{
display: flex;
    background-color: #2C1810;
    height: 280px;
    width: 260px;
        justify-self: center;

        border: #7A6A56 1px solid;

        border-radius: 10px;
        color: #c39f5d;
       text-align: center;
       align-items: center;
       box-shadow: 0 0 5px #c8a35f33 ;
       border-color: #c8a35f33;
       transition:  .5s ease;
       
       transform: .5s ease;
       

}



.hero-3card:hover{
    box-shadow: 0px 0px 5px 0px #c8a35f;
    background-color: rgb(255, 255, 255, 0.06);
    transform: translateY(-1);
    opacity: 12;

    
}

.icon{

    transition: .5s ease;
    transform: .5s;
}

.hero-3card:hover .icon{
box-shadow: 0px 0px 5px 0px #c8a35f;
    background-color: rgb(255, 255, 255, 0.06);
    transform: translateY(-1);
    opacity: 12;

}

.section3main{

    background-color: #fffdf7;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}

.section4main{

    padding-bottom: 20px;
}

.section5main{
    
    background-color: #1a1207;
    height: 100vh;
    width: 100%;
}

.section6main{

    height: 150vh;
    width: 100%;
    background-color: #fffdf7;
}

.section5-scrollbar{

    height: 400px;
    width: 350px;
    
    
}


.scrollbarimg{
    height: 220px;
     width: 260px;
      border-radius: 25px
      

      
      
    
    
}

.section5-text{
   background-color: #2a1f0a ;
    height: 80px;
    width: 260px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    font-size: small;
    position: relative;
    bottom: 50px;
}

.section5-minitext{

    padding-left: 10px;
}

.section5-btn{

    border: 1px solid ;
     border-color: #c8a35f; 
     text-align: center; 
     border-radius: 15px;
      color: #c8a35f ;
    transition:  .5s ease;
    transform: .5s ease;
  ;
}

.section5-btn:hover{

     box-shadow: 0px 0px 2px 0px #F0D8DC;
    background-color: #F0D8DC ;
    transform: translateY(-1);
    

     

}

.section6-gridimg{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 52vh;
    width: 10vw;
    gap: 10px;
    justify-items: center;
    

   
}

.section6grid{

    height: 560px;
    width: 380px;
    background-color: #faf5e8;
    border-radius: 15px;
      
    




}


.section6grid-container{

    height: 240px;
    width: 340px;
    background-color: white;
   border-radius: 20px;
   margin-top: 10px;
   justify-self: center;
 
    
}


























    
    @media (max-wimax-width: 425px) {

    }
